DISK_WARN_PERCENT=70
DISK_BLOCK_PERCENT=80
DISK_CRITICAL_PERCENT=90
DISK_BLOCK_FREE_GIB=30
DISK_CRITICAL_FREE_GIB=15
INODE_WARN_PERCENT=70
MEMORY_WARN_MIB=4096
MEMORY_BLOCK_MIB=3072
MEMORY_CRITICAL_MIB=1536
ALERT_CONFIG=/etc/reboot-required-email-notifier/config
